<div class="grid-cols-2 grid items-center justify-items-center my-16">
    <div class="max-w-[500px]">
        <h1 class="text-3xl font-bold">I’m Martin, <span class="text-primary">web designer</span> and <span class="text-primary">software developer</span></h1>
        <p class="my-2 text-xl">You dream it, I’ll make it. This is the way.</p>
        <button class="border-2 p-2 border-primary text-xl">Contact me</button>
    </div>
    <div>
        <div>
            <img src="/images/mm.png" alt="">
        </div>
        <div class="border-2 p-1 border-primary m-b-2 mx-2 flex"><img class="m-1" src="/images/rect.png" alt="">
            <p>Currently working at
                <a class="text-primary" href="https://pollak.hu/" target="_blank">HSZC Pollák Antal Technikum</a></p>
        </div>
        <div class="border-2 p-1 border-primary m-2 flex"><img class="m-1" src="/images/rect.png" alt="">
            <p>Open for freelance work</p></div>
    </div>
</div>
