<div class="grid-cols-2 grid items-center justify-items-center my-16">
    <div class="max-w-[500px]">
        <h1 class="text-3xl font-bold"><span title="General Kenobi">Hello there!</span> I’m Martin, <span class="text-primary">web designer</span> and <span
            class="text-primary">software developer</span></h1>
        <p class="my-2 text-xl">
            <a routerLink="/projects" class="text-cheapred">You dream it, I build it.</a> From the very beginning of my carrier I always put the users and customers in the first place.
        </p>
        <a routerLink="/services" class="text-xl text-betteryellow">What can I do for you --></a>
        <p class="my-2 text-xl">
            In 2018 I started my little side project that was one of the most important decision of my life.
        </p>
        <a routerLink="/about-me" class="text-xl text-primary">Find out more about me --></a>
    </div>
    <div>
        <div>
            <img src="/images/mm.png" alt="mmimage">
        </div>
        <div class="border-2 p-1 border-primary m-b-2 mx-2 flex"><img class="m-1" src="/images/rect.png" alt="">
            <p>Currently working at
                <a class="text-betteryellow hover:text-primary" href="https://pollak.hu/" target="_blank">HSZC Pollák
                    Antal Technikum</a></p>
        </div>
        <div class="border-2 p-1 border-primary m-2 flex"><img class="m-1" src="/images/rect.png" alt="">
            <p>Open for freelance work / Looking for full-time job</p></div>
    </div>
</div>
