<div class="flex-col flex justify-around items-center my-4 sm:flex-row p-4 lg:p-0">
    <div class="my-2 lg:my-0"><img class="max-h-24 lg:max-h-16" src="/images/logo/transparentlogomm.png" alt="mm"></div>
    <div class="my-2 lg:my-0"><p class="text-center">© All rights reserved 2026. Made by: Martin Mészáros</p></div>
    <div class="my-2 lg:my-0"><h1 class="text-2xl text-center lg:text-left">Socials</h1>
    <p class="text-center lg:text-left">I'll put here some <br> icons, <a target="_blank" href="https://youtu.be/ia6zpJ_YQn0?si=Lcj-Ik6wLapW7Q8h">someday</a></p>
    </div>
</div>
