<div class="my-4 p-4 lg:p-0">
    <div class="flex justify-between lg:justify-center items-center">
        <a class="text-2xl lg:text-3xl"><span class="text-primary">#</span>contact</a>
        <hr class="text-primary w-2/3 mx-4">
    </div>
</div>
<div class="grid lg:grid-cols-2 justify-items-center p-4 lg:p-0">
    <div class="lg:mx-20 text-xl">
        <p class="lg:my-8">
            <a href="mailto:mmartin.zsolt@gmail.com">Email: mmartin.zsolt&#64;gmail.com</a>
        </p>
    </div>
    <div class="lg:mx-20 grid text-xl">
        <p class="lg:my-8">
            <a href="tel:+36307266436">Mobile: +36 30 726 6436</a>
        </p>
    </div>
    <div class="lg:mx-20 text-xl">
        <p class="lg:my-8">
            <a target="_blank" href="https://github.com/sektor338">Github Profile</a>
        </p>
    </div>
    <div class="lg:mx-20 grid text-xl">
        <p class="lg:my-8">
            <a target="_blank" href="https://www.linkedin.com/in/mmartinzs/">Linkedin Profile</a>
        </p>
    </div>
</div>
