<nav class="flex justify-between p-4 text-xl items-center">
    <div>
        <img src="/images/logo/transparentlogommmm.png" alt="" class="max-h-10">
    </div>
    <div class="flex">
        <div>
            <a routerLink="/" class="mx-4"><span class="text-primary">#</span>home</a>
            <a routerLink="/experience" class="mx-4"><span class="text-primary">#</span>experience</a>
            <a routerLink="/projects" class="mx-4"><span class="text-primary">#</span>projects</a>
            <a routerLink="/services" class="mx-4"><span class="text-primary">#</span>services</a>
            <a routerLink="/about-me"  class="mx-4"><span class="text-primary">#</span>about-me</a>
        </div>
        <div class="animate-bounce animate-infinite animate-ease-in-out cursor-pointer">
            <a routerLink="/contact"  class="mx-2 border-2 p-2 border-primary">Contact me</a>
        </div>
    </div>
</nav>
