<nav class="p-4 text-xl">
    <div class="flex justify-between items-center">
        <div>
            <img src="/images/logo/transparentlogommmm.png" alt="" class="max-h-10">
        </div>
        <div class="hidden lg:flex">
            <div>
                <a routerLink="/" class="mx-4"><span class="text-primary">#</span>home</a>
                <a routerLink="/experience" class="mx-4"><span class="text-primary">#</span>experience</a>
                <a routerLink="/projects" class="mx-4"><span class="text-primary">#</span>projects</a>
                <a routerLink="/services" class="mx-4"><span class="text-primary">#</span>services</a>
                <a routerLink="/about-me" class="mx-4"><span class="text-primary">#</span>about-me</a>
            </div>
            <div class="animate-bounce animate-infinite animate-ease-in-out cursor-pointer">
                <a routerLink="/contact" class="mx-2 border-2 p-2 border-primary">Contact me</a>
            </div>
        </div>
        <button (focusout)="isOpen=false" (click)="isOpen ? isOpen=false : isOpen=true" type="button"
                class="lg:hidden relative inline-flex items-center justify-center rounded-md text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg [ngClass]="isOpen ? 'hidden' : 'block'" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
            <!--
              Icon when menu is open.

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg [ngClass]="isOpen ? 'block' : 'hidden'" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
        </button>

    </div>
    <div [ngClass]="isOpen ? 'flex animate-fade-down' : 'hidden'" class="flex-col">
        <div class="flex-col flex text-center">
            <a routerLink="/" class="mx-4 text-xl my-1"><span class="text-primary">#</span>home</a>
            <a routerLink="/experience" class="mx-4 text-xl my-1"><span class="text-primary">#</span>experience</a>
            <a routerLink="/projects" class="mx-4 text-xl my-1"><span class="text-primary">#</span>projects</a>
            <a routerLink="/services" class="mx-4 text-xl my-1"><span class="text-primary">#</span>services</a>
            <a routerLink="/about-me" class="mx-4 text-xl my-1"><span class="text-primary">#</span>about-me</a>
        </div>
        <div class="cursor-pointer flex justify-center">
            <a routerLink="/contact" class="mx-2 border-2 p-2 border-primary">Contact me</a>
        </div>
    </div>
</nav>
