<div class="my-4">
    <div class="flex justify-center items-center">
        <a routerLink="/projects" class="text-3xl"><span class="text-primary">#</span>about-me</a>
        <hr class="text-primary w-1/3 mx-4">
        <a routerLink="/projects" class="mx-24">View more<span>--></span></a>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="w-1/3 mx-20 text-xl">
        <p class="my-8">
            Hello, I’m Martin!
            I'm a programmer.
        </p>
        <p class="my-8">

        </p>
        <p>
            I don't know who you are. I don't know what you want. If you are looking for bugs, I can tell you I don't
            have any (probably). But what I do have are a very particular set of skills, skills I have acquired over a very long
            career. Skills that make me a dream for people like you. I can develop anything, I can design, I can model (I can do pretty much everything... or not).
            I can and I will do everything in my power to make your project a success.
        </p>
    </div>
    <div class="mx-20">
        <img src="/images/elegantmm.png" alt="elegantmm">
    </div>
</div>
<div class="my-4">
    <div class="flex justify-center items-center">
        <a routerLink="/about-me" class="text-3xl"><span class="text-primary">#</span>skills</a>
        <hr class="text-primary w-1/3 mx-4">
        <a routerLink="/about-me" class="mx-24">View more<span>--></span></a>
    </div>
</div>
<div class="flex justify-center flex-wrap">
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">Soft Skills</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Teamwork
                Problem-solving
                Creativity
                Independent
                Communication
                Adaptability
            </p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">Languages</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">HTML CSS JS PHP Python C# TypeScript
            </p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-xl">CSS Frameworks</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Bulma Bootstrap Tailwind-CSS</p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">Database</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">SQL PhpMyAdmin</p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">JS Frameworks</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Angular</p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">DevOps</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Docker Git Github Windows Linux</p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">UX/UI/Design</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Figma Canva</p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">Modelling</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Blender AutoCad</p>
        </div>
    </div>
    <div class="border-2 m-2 w-[250px]">
        <div class="p-2">
            <h1 class="text-2xl">Etc.</h1>
        </div>
        <hr>
        <div class="p-2">
            <p class="text-xl">Photoshop Premiere-Pro Libre-Office
                Ms-Office Raspberry-Pi
                Arduino PyGame Wordpress</p>
        </div>
    </div>

</div>
