<div class="my-4">
    <div class="flex justify-center items-center">
        <a routerLink="/projects" class="text-3xl"><span class="text-primary">#</span>about-me</a>
        <hr class="text-primary w-1/3 mx-4">
        <a routerLink="/projects" class="mx-24">View more<span>--></span></a>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="w-1/3 mx-20 text-xl">
        <p class="my-8">
            Hello, I’m Martin!
            I'm a programmer.
        </p>
        <p class="my-8">

        </p>
        <p>
            I don't know who you are. I don't know what you want. If you are looking for ransom, I can tell you I don't
            have money. But what I do have are a very particular set of skills, skills I have acquired over a very long
            career. Skills that make me a nightmare for people like you. If you let my daughter go now, that'll be the
            end of it. I will not look for you, I will not pursue you. But if you don't, I will look for you, I will
            find you, and I will kill you.
        </p>
    </div>
    <div class="mx-20">
        <img src="/images/elegantmm.png" alt="elegantmm">
    </div>
</div>

