<ul class="p-2 sm:p-0">
    <li style="--accent-color:#41516C">
        <div class="date">2023-</div>
        <div class="title">
            <h1 class="text-xl">Full-stack developer</h1>
            <hr>
            <h2 class="text-xl">Sole Proprietorship</h2>
        </div>
        <div class="descr">
            - Creating custom websites, desktop and mobile applications <br>
            - UX/UI design <br>
            - IT consulting
        </div>
    </li>
    <li style="--accent-color:#FBCA3E">
        <div class="date">2022-</div>

        <div class="title">
            <h1 class="text-xl">Teacher</h1>
            <hr>
            <h2 class="text-xl">HSZC Szentesi Pollák Antal Technikum</h2>
        </div>
        <div class="descr">
            Teaching IT for 9-13 graders <br>
            Taught subjects: <br>
            - ICT project management <br>
            - Networking<br>
            - IT essentials<br>
            - Programming (Python, C#, MySQL, PHP, HTML, CSS, JS, Bootstrap)<br>
            - Version control (git, Github)
        </div>
    </li>
    <li style="--accent-color:#E24A68">
        <div class="date">2021</div>

        <div class="title">
            <h1 class="text-xl">Office assistant</h1>
            <hr>
            <h2 class="text-xl">Enerzol Kft.</h2>
        </div>
        <div class="descr">
            - Creating and organizing worksheets<br>
            - Creating and organizing measurement records
        </div>
    </li>
    <li style="--accent-color:#1B5F8C">
        <div class="date">2021-</div>

        <div class="title">
            <h1 class="text-xl">Full-stack developer
                (Contractor)</h1>
            <hr>
            <h2 class="text-xl">Csúcs-Vill Kft.</h2>
        </div>
        <div class="descr">
            - Creating an application (Unity) and website(HTML, CSS, Js, PHP, MySQL) for recording data of
            touch/ligthning/fire protection reviews<br>
            - Converting and merging the existing app and website into a PWA<br>
            - Maintenance of other IT projects
        </div>
    </li>
    <!--<li style="--accent-color:#4CADAD">
        <div class="date">2022</div>
        <div class="title">Title 5</div>
        <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
    </li>-->
</ul>
