<div class="m-4">
    <div class="flex items-center justify-center">
        <a class="text-2xl lg:text-3xl"><span class="text-primary">#</span>projects</a>
        <hr class="text-primary w-2/3 mx-4">
    </div>
    <p class="m-4 text-left lg:text-center">List of my projects that I recently worked on</p>
    <div class="flex items-center justify-center">
        <a class="text-xl lg:text-2xl"><span class="text-primary">##</span>commercial-projects</a>
        <hr class="text-primary w-2/3 mx-4">
    </div>
</div>

<div class="flex justify-center my-2 flex-wrap">
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/flowone.png" alt=""></div>
        <div class="px-2 py-1"><p>PHP CSS JS TailwindCSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">FlowOne</h2>
            <p class="m-2 text-xl">Custom website for a 3d printing business</p>
            <div class="flex justify-center">
                <a href="https://flowone.hu/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/antenna.png" alt=""></div>
        <div class="px-2 py-1"><p>Wordpress Woocommerce CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Antenna Bolt</h2>
            <p class="m-2 text-xl">Woocommerce webshop</p>
            <div class="flex justify-center">
                <a href="https://antennabolt.com/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/ohmguard.png" alt=""></div>
        <div class="px-2 py-1"><p>PHP HTML CSS JS Bulma jQuery PHPWord</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">OhmGuard</h2>
            <p class="m-2 text-xl">Custom CRUD website for recording data of
                touch/ligthning/fire protection reviews for <a target="_blank" class="text-betteryellow"
                                                               href="https://www.csucsvill.hu/">Csúcs-Vill Kft.</a></p>
            <div class="flex justify-center">
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/gst.png" alt=""></div>
        <div class="px-2 py-1"><p>Angular HTML CSS JS Tailwind-CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Gym Science Team</h2>
            <p class="m-2 text-xl">Simple landing page made with Angular.  Discontinued until further notice.</p>
            <div class="flex justify-center">
<!--                <a href="https://gymscienceteam.hu/#/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>-->
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/lh.png" alt=""></div>
        <div class="px-2 py-1"><p>HTML CSS JS Bulma jQuery PHP Ckeditor-5</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Légió Hungária</h2>
            <p class="m-2 text-xl">Custom blog with calendar system</p>
            <div class="flex justify-center">
                <a href="https://legiohungaria.org/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/micromir.png" alt=""></div>
        <div class="px-2 py-1"><p>HTML CSS JS Tailwind-CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Micromir</h2>
            <p class="m-2 text-xl">Landing page for Micromir. Discontinued until further notice.</p>
            <div class="flex justify-center">
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/ligets.png" alt=""></div>
        <div class="px-2 py-1"><p>HTML CSS JS Bulma</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Liget Siófok</h2>
            <p class="m-2 text-xl">Landing page for a hotel located in Siófok. (My first commercial project)</p>
            <div class="flex justify-center">
                <a href="https://www.ligetsiofok.hu/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/mgh.png" alt=""></div>
        <div class="px-2 py-1"><p>HTML CSS JS Tailwind-CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">MGH Konténer Kft.</h2>
            <p class="m-2 text-xl">Landing page for a company making custom containers.  Discontinued until further notice.</p>
            <div class="flex justify-center">
<!--                <a href="https://mghkontener.hu/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>-->
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/teamonline.png" alt=""></div>
        <div class="px-2 py-1"><p>Wordpress CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Team Online</h2>
            <p class="m-2 text-xl">Wordpress page for a virtual assistant business</p>
            <div class="flex justify-center">
                <a href="https://teamonline.hu/" target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live
                    <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/volan.png" alt=""></div>
        <div class="px-2 py-1"><p>Wordpress CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2">Volán Fehérvár Öttusa Szakosztály</h2>
            <p class="m-2 text-xl">A wordpress page for one of the best pentathlon sports club in Hungary</p>
            <div class="flex justify-center">
                <a href="https://volanfehervarottusa.hu/" target="_blank"
                   class="text-xl border-2 m-2 p-2 border-primary">Live <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
</div>
<div class="m-4">
    <div class="flex items-center justify-center">
        <a class="text-xl lg:text-2xl"><span class="text-primary">##</span>personal-projects</a>
        <hr class="text-primary w-2/3 mx-4">
    </div>
</div>
<div class="flex justify-center my-2 flex-wrap">
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/utratori.png" alt=""></div>
        <div class="px-2 py-1"><p>Wordpress CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2" title="Történelem Faszagyerekei ">Történelem Faszagyerekei - WIP</h2>
            <p class="m-2 text-xl">Designing and maintaining a history blog.
                I'm also a co-author here</p>
            <div class="flex justify-center">
                <a title="Történelem Faszagyerekei " href="https://www.tortenelemutravalo.hu/"
                   target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
</div>
<div class="m-4">
    <div class="flex items-center justify-center">
        <a class="text-xl lg:text-2xl"><span class="text-primary">##</span>maintain-projects</a>
        <hr class="text-primary w-2/3 mx-4">
    </div>
</div>
<div class="flex justify-center my-2 flex-wrap">
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/csucsvill.png" alt="csucsvill"></div>
        <div class="px-2 py-1"><p>Wordpress CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2" title="Csúcs-Vill">Csúcs-Vill Kft.</h2>
            <p class="m-2 text-xl">Maintaining wordpress site, rework under discussion</p>
            <div class="flex justify-center">
                <a title="Csúcs-Vill" href="https://csucsvill.hu/"
                   target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
    <div class="border-2 m-2 w-[330px]">
        <div><img src="/images/projects/nimrod.png" alt="nimród"></div>
        <div class="px-2 py-1"><p>Wordpress Woocommerce CSS</p></div>
        <hr>
        <div>
            <h2 class="text-3xl m-2" title="Nimród">Nimród Ruházat</h2>
            <p class="m-2 text-xl">Maintaining wordpress webshop, rework under discussion</p>
            <div class="flex justify-center">
                <a title="Nimród" href="https://nimrod-ruhazat.hu/"
                   target="_blank" class="text-xl border-2 m-2 p-2 border-primary">Live <-></a>
                <!--<button class="text-xl border-2 m-2 p-2">Details</button>-->
            </div>
        </div>
    </div>
</div>
