/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Fira Code", monospace;
        font-weight: 400;
        font-style: normal;
        src: url(https://fonts.googleapis.com/css2?family=Fira+Code&display=swap) format('woff2');
    }
    html {
        font-family: "Fira Code", monospace;
        color: white;
    }
}

body {
    --sb-track-color: #282c33;
    --sb-thumb-color: #006dff;
    --sb-size: 14px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 20px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}
